
// Bootstrap Navbar

nav.navbar.navbar-default(role="navigation")
	div.container

		// Brand and toggle get grouped for better mobile display
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/")= sitetitle

		// Collect the nav links, forms, and other content for toggling
		div.collapse.navbar-collapse#bs-example-navbar-collapse-1
			ul.nav.navbar-nav
				each item, slug in nav.items
					if "items" in item
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown")= item.title
								b.caret
							ul.dropdown-menu
								li
									a(href="/"+slug)= item.overview
								each subitem, subslug in item.items
									li
										a(href="/"+slug+"/"+subslug)= subitem.title
					else
						li
							a(href="/"+slug)=item.title
